.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  @media $breakpoint_md {
    width: 340px;
    height: auto;
    margin: 32px auto;
    padding: 48px 32px;
    border-radius: 32px;
    box-shadow: 0 0 12px rgba($color_black, 0.1);
  }
}

.page__container {
  width: 85%;
  margin: 0 auto;
  padding-top: 20%;

  @media $breakpoint_md {
    width: auto;
    padding-top: 0;
  }
}

.page__background {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.page__background::after, .page__background::before {
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  background: $gradient_green;
  transition: opacity 377ms ease-in-out;

  @media $breakpoint_md {
    width: 100%;
    height: 100%;
  }
}

.page__background::after {
  background: $gradient_green;

  .page--secondary & {
    opacity: 0;
  }
}

.page__background::before {
  opacity: 0;
  background: $gradient_white;

  .page--secondary & {
    opacity: 1;
  }
}

.page__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page__title {
  font-size: 24px;
  text-align: center;
  color: $color_white;
  transition: color 377ms ease-in-out;

  .page--secondary & {
    color: $color_green_primary;
  }
}

.page__timer-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.page__timer-countdown {
  font-size: 48px;
  position: absolute;
  color: $color_white;
  letter-spacing: 0.10em;
  font-weight: $weight_medium;
  transition: color 377ms ease-in-out;

  .page--secondary & {
    color: $color_green_primary;
  }
}

.page__timer {
  width: 208px;
  height: 208px;
  display: block;
  margin: 32px auto;
}

.page__timer-backdrop {
  stroke-width: 4px;
  fill: transparent;
  stroke: $color_green_primary;
  transition: stroke 377ms ease-in-out;

  .page--secondary & {
    stroke: $color_white;
  }
}

.page__timer-progress {
  fill: transparent;
  stroke-width: 4px;
  stroke: $color_white;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: 377ms ease-in-out;
  transition-property: stroke-dashoffset stroke;

  .page--secondary & {
    stroke: $color_green_secondary;
  }
}

.page__timer-pointer {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  transform: rotate(360deg);
  transition: transform 377ms ease-in-out;

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 26px;
    border-radius: 50%;
    background-color: $color_white;
    transition: background 377ms ease-in-out;
  }

  .page--secondary &::after {
    background-color: $color_green_secondary;
  }
}

.page__sessions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__session {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  margin: 0 8px;
  border-radius: 50%;
  transition: 377ms ease-in-out;
  background-color: $color_white;
  transition-property: opacity background;

  &.active, .page--secondary &.active {
    opacity: 1;
  }

  &.completed, .page--secondary &.completed {
    opacity: 1;
    background-color: $color_green_active;
  }

  &.page__session--small {
    width: 10px;
    height: 10px;
  }

  .page--secondary & {
    opacity: 0.4;
    background-color: $color_green_secondary;
  }
}

.page__actions-mode {
  font-size: 18px;
  margin-top: 64px;
  text-align: center;
  color: $color_white;
  font-weight: $weight_regular;
  transition: color 377ms ease-in-out;

  .page--secondary & {
    color: $color_green_primary;
  }
}

.page__actions-button {
  border: 0;
  width: 64px;
  height: 64px;
  display: block;
  cursor: pointer;
  margin: 16px auto;
  border-radius: 50%;
  background-color: $color_white;
  transition: background 377ms ease-in-out;
  box-shadow: 2px 2px 6px rgba($color_black, 0.06);

  .page--secondary & {
    background-color: $color_green_primary;
  }
}

.page__actions-button-icon {
  width: 40px;
  color: $color_green_primary;
  transition: color 377ms ease-in-out;

  .page--secondary & {
    color: $color_white;
  }
}

.page__actions-stop {
  border: 0;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50%;
  background-color: $color_green_primary;
  transition: background 377ms ease-in-out;
  box-shadow: 2px 2px 6px rgba($color_black, 0.06);

  .page--secondary & {
    background-color: $color_white;
  }
}

.page__actions-stop-icon {
  width: 20px;
  color: $color_white;
  transition: color 377ms ease-in-out;

  .page--secondary & {
    color: $color_green_primary;
  }
}
