.login {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.login__container {
  width: 85%;
  margin: 0 auto;
  padding-top: 20%;
}

.login__background {
  position: absolute;
  width: 130%;
  height: 100%;
  left: 0;
  top: -20%;
  z-index: -1;

}

.login__background:after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: $gradient_green;
  top: 20%;
  left: 0;
  z-index: 1;
}

.login__title {
  font-size: 52px;
  color: $color_white;
  font-weight: 400;
  text-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

.login__subtitle {
  font-size: 32px;
  font-weight: 400;
  color: $color_white;
}

.login__button {
  cursor: pointer;
  background-color: $color_green;
  border: 0;
  padding: 15px 55px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  margin-top: 28px;

  font-size: 25px;
  color: $color_white;
  font-weight: 500;
  font-family: 'montserrat';

  transition-duration: 601ms;
  transition-property: background-color, transform, box-shadow;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    background-color: darken($color_green, 5);
  }
}