*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat";

  @media $breakpoint_md {
    background-color: $color_green_secondary;
  }
}

button, input {
  font-family: "montserrat";
}
