$color_white = #FFFFFF;
$color_black = #000000;
$color_green_primary = #537e5c;
$color_green_secondary = #7ba37d;
$color_green_active = #6ec972;

$gradient_green = linear-gradient(135deg, rgba($color_green_secondary, .96) 0%, rgba($color_green_primary, .96) 100%);

$weight_light = 300;
$weight_regular = 400;
$weight_medium = 500;
$weight_semibold = 600;
$weight_bold = 700;
